<div class="fastorders">
<p id="notice"><%= notice %></p>

<h1>Instant Orders</h1>

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th>Product name</th>
      <th>Quantity</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Zip code</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @fastorders.each do |fastorder| %>
      <tr>
        <td><%= fastorder.product_name %></td>
        <td><%= fastorder.quantity %></td>
        <td><%= fastorder.address %></td>
        <td><%= fastorder.phone %></td>
        <td><%= fastorder.zip_code %></td>
        <td><%= fastorder.date %></td>
        <td><%= link_to 'Delete', fastorder, method: :delete, 
          class:"btn btn-sm btn-danger",data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>