<h1 id="photos-index-h1">Select an item to order instantly</h1>

<div class="photo-container">
<div class="row row-cols-2">

    <div class="grid-item">
    <div class="inner-item">
    <%= link_to image_tag('thumbnails/shoe.jpg'), photos_shoe_path(name: 'shoe.jpg')%>
    <a href="photos/shoe"><p>Men's Hypebeast 1 Sports <br> Running Shoes<br><strong>Rs. 2000</strong></p></a>
    </div>
    </div>

    <div class="grid-item">  
    <div class="inner-item"> 
    <%= link_to image_tag('thumbnails/cream.jpg'), photos_cream_path(name: 'cream.jpg')%>
    <a href="photos/cream"><p>L'Oreal Paris Skincare Collagen Face<br>Moisturizer, Day and Night Cream<br>
        <strong>Rs. 450</strong></p></a>
    </div>
    </div>

    <div class="grid-item">
    <div class="inner-item">
    <%= link_to image_tag('thumbnails/hoodie.jpg'), photos_hoodie_path(name: 'hoodie.jpg')%>
    <a href="photos/hoodie"><p>Columbia Men's Ascender<br>Softshell Front-zip Jacket<br>
        <strong>Rs. 2500</strong></p></a>
    </div>
    </div>

    <div class="grid-item">
    <div class="inner-item">
    <%= link_to image_tag('thumbnails/iphone.jpeg'), photos_iphone_path(name: 'iphone.jpeg')%>
    <a href="photos/iphone"><p>Apple iPhone 11(128GB)<br>Sim-Free<br><strong>Rs. 55000</strong></p></a>
    </div>
    </div>

    <div class="grid-item">
    <div class="inner-item">
    <%= link_to image_tag('thumbnails/speaker.jpg'), photos_speaker_path(name: 'speaker.jpg')%>
    <a href="photos/speaker"><p>JBL FLIP 4 - Waterproof Portable<br>Bluetooth Speaker - Black<br>
        <strong>Rs. 1500</strong></p></a>
    </div>
    </div>

    <div class="grid-item">
    <div class="inner-item">
    <%= link_to image_tag('thumbnails/tv.jpg'), photos_tv_path(name: 'tv.jpg')%>
    <a href="photos/tv"><p>SAMSUNG 85-inch Class Crystal UHD<br>TU-800 Series<br><strong>Rs. 44000</strong></p></a>
    </div>
    </div>
    
</div>
</div>
